body {
  background-image: url('back');
  color: green;
}
#sub {
  background-color: rgba(3,3,3,.5);
  color: #fff;
  padding: 5px;
  border-radius: 2px 15px;
  font-size: 14pt;
}
.container {
  display: block;
  text-align: center;
}

label{
  color: white;
  display:inline-block;
  width:150px;
  margin-right:15px;
  text-align:right;
  font-weight: bold;
}
fieldset {
  background-color: rgba(0,0,0,.4);
  border-radius: 2px 20px;
  width:400px;
  margin:70px auto;
  padding-top: 10px;
}
.topbar {
  background-color: rgba(0,51,43,.8);
  color: #fff;
  text-align: center;
  margin: -25px;
}
